body {
    background-color: rgba(35, 119, 203, 1);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  h2 {
    font-size: 13pt;
  }
  
  #result {
    font-size: 15pt;
    font-weight: bold;
  }
  